<section class="card border-secondary" style="width: 50rem;">
  <h5 class="card-header text-secondary ">Create New Post</h5>
  <form class="card-body new-post-form" id="new-post-form">
    <label for="post-title" class="form-label">Title</label>
    <input class="form-control" type="text" id="post-title" name="post-title" />
    <label class="form-label" for="content">Content</label>
    <div class="form-group">
    <input class="form-control" id="content" name="content"/>
    <button type="submit" class="btn btn-primary">Submit New Post</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section>
  <h5>your Posts</h2>
  {{#each posts as |post|}}
  {{> post-info post}}
  <div class="card border-secondary" style="width: 50rem;">
    <div class="card-header text-secondary" >
      <a class="btn btn-primary" href="/dashboard/edit/{{post.id}}">Edit Post</a>
    </div>
  </div>
  {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>