{{!-- login form --}}
<div class="row">
  <div class="col">
<section class="card" style="width: 18rem;">
  <h5 class="card-header">Login</h5>
  <form class="login-form card-body">
    <div>
      <label for="username-login" class="form-label">Username:</label>
      <input class="form-control" type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password:</label>
      <input class="form-control" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</section>
</div>




{{!-- sign-up form --}}

<div class="col">
<section class="card" style="width: 18rem;">
  <h5 class="card-header">Signup</h5>
  <form class="signup-form card-body">
    <div>
      <label for="username-signup" class="form-label">Username:</label>
      <input class="form-control"  type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup" class="form-label">Password:</label>
      <input class="form-control"  type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Signup</button>
    </div>
  </form>
</section>
</div>
</div>

<script src="/javascript/login.js"></script>