
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0;
  color: white;
  line-height: 1.25;
}


main {
  margin: 20px auto;
  width: 94%;
}

.wrapper {

  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

.hero {
  padding: 3% 15%;
  background-color: var(--dark);
  color: white;
  background-image: url("https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&w=2000&q=80");
}

.blog-title {
  text-shadow: 2px 2px #000000;
  font-size: 3rem;
  padding: 0 10px;
  display: inline-block;
}

.list-group {
  padding: 0;
  list-style: none;
}




.status-icon {
  padding: 2px 5px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
}



.post {
  margin: 0 0 20px 0;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}


.card {
  margin: 0 0 20px 0;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}



.link {
  color: var(--light-dark);
}

.nav {
  padding: 10px;
  line-height: 1.25;
  float: top;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}



